page-trend {
    .highlighted {
        background-color: gold; //#FFA62F;
    }   

    .no-scroll .scroll-content{
            overflow: hidden;
        }

    .scroll .scroll-content {
        overflow: auto;
    }
}
