<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trend</ion-title>
    <ion-buttons end>
      <button ion-button icon-only item-right
        (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="no-scroll">      
  <div id='container'></div>
  <div> 
  <ion-grid>
    <ion-row>
      <ion-col width-10>
        <button ion-button icon-only clear (click)="goBackHour()">
           <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-col>      
      <ion-col width-40>
        <input type="text" value="12/12/2017 23:23" width="100%"/>
        <!--<ion-datetime displayFormat="MM/DD/YYYY HH:mm" name="startDate" 
        [(ngModel)]="startDT"></ion-datetime>         -->
      </ion-col>      
      <ion-col width-40>
        <input type="text" value="12/12/2017 23:23"/>
        <!--<ion-datetime displayFormat="MM/DD/YYYY HH:mm" name="endDate" 
        [(ngModel)]="endDT"></ion-datetime>-->
      </ion-col>
      <ion-col width-10>
        <button ion-button icon-only clear (click)="goForwardHour()">
           <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ion-item color="primary" *ngIf="selectedSeries">    
    <p><em>{{selectedSeries?.name}}</em></p>
    <button ion-button icon-only item-right
        (click)="onRemoveSeries()">
        <ion-icon name="trash"></ion-icon>
    </button>    
  </ion-item>
      
  <ion-content #listContent class="scroll">  
  <ion-list *ngIf="selectedSeries">    
    <ion-item *ngFor ="let value of selectedSeries.data" [id]="value?.x" 
        [class.highlighted]="value?.x === selectedPoint?.x">
      {{value.y | number:"1.2-2"}} @ {{value.x | date:"MM/dd/yy HH:mm:ss"}}
    </ion-item>    
  </ion-list>
  <ion-content>
</ion-content>

